.footer {
    background-color: #000;
    padding: 20px 50px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: flex;
    gap: 20px;
}
.redes a{
    text-decoration: none;
    color: inherit;
}

.instagram-icon {
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    border-radius: 10px;
}

.footer-cretit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}