.fondo-header {
    background-image: url('../assets/fondo-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;

    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.navegation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    /* height: 20vh; */
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo-nav h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #f179bd;
}
.logo-nav h2 span {
    color: #9d174d;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);

    position: relative;
    animation-name: hero-titulo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes hero-titulo {
    0%      {left: -100%; opacity: 0;}
    25%     {left: 0%; opacity: 1;}
    50%     {left: 0%; opacity: 1;}
    75%     {left: 0%; opacity: 1;}
    100%    {left: 100%; opacity: 0;}
}

.hero-text p {
    font-size: 2rem;
    margin-top: 10px;

    position: relative;
    animation-name: hero-parrafo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes hero-parrafo {
    0%      {left: 130%; top:0px; opacity: 0;}
    25%     {left: 0%; top:0px; opacity: 1;}
    50%     {left: 0%; top:0px; opacity: 1;}
    75%     {left: 0%; top:0px; opacity: 1;}
    100%    {left: -130%; opacity: 0;}
}

/* ✅ Menú horizontal */
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ffd1dc;
}

.menu {
    display: none;
}
.button-menu {
    display: flex;
    flex-direction: column;
    width: 4.4rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    
}
.button-menu div {
    background: #fff;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
}
.button-menu.active div:first-child {
    transform: rotate(45deg);
    background: #fff;
}
.button-menu.active div:nth-child(2) {
    opacity: 0;
}
.button-menu.active div:last-child {
    transform: rotate(-45deg);
    background: #fff;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffd1dc;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #ff8bb3;
}

/* Bloquear scroll cuando el menú esté abierto */
body.menu-open {
    overflow: hidden;
}

@media (max-width: 768px) {
    .fondo-header {
        height: 60vh; /* Reduce la altura del fondo del header */
    }
    .navegation {
        padding: 20px;
    }
    .nav {
        display: none;
    }
    .hero-text {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    .hero-text p{
        font-size: 1.2rem;
    }
    .menu {
        display: flex;
    }
}